:root {
  --gradient-one: 0%;
  --gradient-two: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>👈</text></svg>")
      16 0,
    auto;
}

.big-bg {
  background-color: hsla(0, 0%, 100%, 1);
  filter: blur(10px);
  background-image: radial-gradient(
      at var(--gradient-one) var(--gradient-two),
      hsla(0, 0%, 100%, 1) 0px,
      transparent 75%
    ),
    radial-gradient(at 31% 1%, hsla(174, 70%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 31% 40%, hsla(260, 91%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 46% 21%, hsla(315, 65%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 30% 87%, hsla(209, 86%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 59% 46%, hsla(217, 100%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 78% 64%, hsla(176, 96%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 43%, hsla(233, 100%, 81%, 1) 0px, transparent 50%);

  /* background-image: url("/src/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  top: 0;
  left: 0;
  position: absolute;
  right: 0;
  height: 100vh;
  z-index: -1;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
}

.container-all {
  position: relative;
  top: 120px;
  margin: 0 20px;
  border-radius: 20px;
  background-color: #fff;
  padding: 40px 40px;
  min-height: calc(100vh - 220px);
  box-shadow: 0 0 80px -45px rgba(33, 35, 36, 0.35),
    0 0 25.5px -45px rgba(33, 35, 36, 0.22),
    0 0 6.5px -45px rgba(33, 35, 36, 0.16);
}

@media (max-width: 800px) {
  .container-all {
    padding: 40px 20px;
  }
}

.container-small-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh + 80px);
  /* min-height: 100vh; */
}

.container-small {
  border-radius: 20px;
  text-align: center;
  min-width: 50%;
  background-color: #fff;
  padding: 40px 40px;
  box-shadow: 0 0 80px -45px rgba(33, 35, 36, 0.35),
    0 0 25.5px -45px rgba(33, 35, 36, 0.22),
    0 0 6.5px -45px rgba(33, 35, 36, 0.16);
}

@media (max-width: 800px) {
  .container-small {
    width: calc(100vw - 80px);
    padding: 40px 20px;
  }
}

/* NAVBAR  ---------------------------------------------------------------------- */

.navbar,
.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: none;
}

@media (min-width: 600px) {
  .navbar {
    display: block;
  }

  .navbar-mobile {
    display: none;
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  padding: 10px 40px;
}

.nav-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-navbar img {
  width: 80px;
}

.logo-container {
  /* z-index: 100; */
  position: relative;
}

/* NAV MOBILE  ---------------------------------------------------------------------- */

.nav-mobile-elements-container {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: opacity 0.75s, visibility 0.75s, height 0.75s;
}

.nav-mobile-elements-container-open {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.nav-mobile-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.menu-icon {
  z-index: 100;
  display: block;
  width: 50px;
  cursor: pointer;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }

  .bar-one,
  .bar-two,
  .bar-three {
    width: 2rem;
    height: 0.25rem;
    background: #000;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  .bar-one {
    transform: rotate(0);
  }

  .bar-two {
    opacity: 1;
    transform: translateX(0);
  }

  .bar-three {
    transform: rotate(0);
  }
}

.mobile-menu-open {
  .bar-one {
    transform: rotate(45deg);
  }

  .bar-two {
    opacity: 0;
  }

  .bar-three {
    transform: rotate(-45deg);
  }
}

/* ABOUT SPINNER ---------------------------------------------------------------------- */

.float-about-wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.float-about {
  background-image: url("/src/images/arrow-about.svg");
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  z-index: 40;
}

.float-about-spinner {
  /* background-image: url("/src/images/arrow-about.svg") no-repeat 50%; */
  position: absolute;
  width: 100px;
  z-index: 60;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ABOUT HORIZONTAL ---------------------------------------------------------------------- */

.horizontal-about-wrapper {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.horizontal-about {
  text-decoration: none;
  line-height: 0;
  color: #fff;
  background-color: #000;
  height: 30px;
  width: 200%;
  display: flex;
  bottom: 0px;

  white-space: nowrap;
  position: absolute;
  will-change: transform;
  animation: horizontal-about-wrapper 8s linear infinite;
}

.horizontal-about p {
  margin: 0;
  position: absolute;
  top: 15px;
}

@keyframes horizontal-about-wrapper {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* ABOUT PAGE  ---------------------------------------------------------------------- */

@media (min-width: 800px) {
  .about-page p {
    vertical-align: middle;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2rem !important;
  }
  .about-page span {
    font-size: 2rem;
  }
}

/* HOMEPAGE  ---------------------------------------------------------------------- */

.container-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 120px);
  margin-top: 120px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>👈</text></svg>")
      16 0,
    auto;
}

.randonizer-button-bg {
  width: 80vw;
  align-self: center;
  border-radius: 50px;
  background: #000;
}

.randonizer-button {
  width: 80vw;
  align-self: center;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;

  color: #000;
  border-radius: 50px;
  border: 1px solid #000;
  background: #ffdf6f;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='54' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto;
  transform: translate(-3px, -3px);
  transition: transform 0.2s;
}

.randonizer-button:hover {
  transform: translate(0, 0);
}

@media (max-width: 800px) {
  .randonizer-button {
    font-size: 1rem;
  }
}

.randonizer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .randonizer-container {
    gap: 0;
  }
}

.randonizer-container-headline {
  max-width: 90vw;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .randonizer-container-headline {
    font-size: 1.5rem;
    padding-top: 20px;
  }
}

.randonizer-open-collapse {
  text-align: center;
}

.randonizer-container-headline a {
  text-decoration: none;
  color: #7087f7;
}

.randonizer-container-headline p {
  margin: 0;
}

.randonizer-filters {
  padding-bottom: 20px;
}

/* FILTER PAGE  -------------------------------------------------------------------- */

.activity-filter-list {
  padding-top: 30px;
}

/* ACTIVITY PAGES (CRUD)  ---------------------------------------------------------- */

.crud-title {
  padding-bottom: 30px;
}

.crud-title-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-title-like-button {
  align-self: center;
}

.activity-buttons {
  justify-content: flex-end;
  padding-top: 60px;
}

/* LOGIN + SIGNIN  ----------------------------------------------------------------- */

.terms-conditions {
  text-align: left;
}
/* PROFILE PAGE -------------------------------------------------------------------- */

.profile-infos-user {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  }
}

.profile-infos-user button {
  margin-right: 20px;
  margin-top: 20px;
}

.one-list-profile {
  width: 100%;
}

/* TEXT PAGES (TERMS & ABOUT) -------------------------------------------------------------------- */

.text-pages h1 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.text-pages p {
  line-height: 1.6rem;
  /* text-align: center; */
}

.what-the {
  color: #7087f7;
  font-style: italic;
  text-decoration: none;
}
